.navigationbar{
    /* direction: ltr; */
    position: sticky;
    top: 0;
    background-color:#b8096b;
    /* margin-bottom: 20px; */
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around !important;
}
.logo{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.activenave{
    color: #00b956 !important;
}
.logo a{
    color: #df14c4c5;
    text-decoration: none;
}
.logo img{
    margin-right: 10px;
}
#langue{
    margin-left: 13px;
    margin-right: 13px;
}
#langue i{
    margin-right: 5px;
}
.left-nav-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nanigation a{
    margin-left: 30px;
    text-decoration: none;
    font-weight: bold;
    color: white !important;

}
#only-mobile{
    display: none;
    color: white !important;

}
@keyframes slideranimation {
    
    100%{
        margin-top: 12px;

    }
}




@media screen and (max-width: 800px) {
    
    .nanigation {
        position: absolute;
        text-align: end;
        /* padding: 10px 10px 25px; */
        width: 100%;
        top: 67px;
        height: 100vh;
        display: flex;
        align-items: center;
        background-color:#b8096b;
        flex-direction: column;
        text-decoration: none;
        font-weight: bold;
        
    }
    .navigationbar{
        position: sticky;
        top: 0;
        background-color: #b8096b;
        display: flex;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around !important;
    }
    @keyframes ddd {
        0%{
            width: 0vh;
        }
        100%{
            width: 80vw;
        }
    }
    .show{
        display: flex !important;
    }
    .hide{
        display: none !important;
    }
    .nanigation a {
        width: 92%;
        background-color: whitesmoke;
        padding-top: 10px;
        margin: 0;
        color: black !important;
        padding-right: 10px;
        border-radius: 20px;
        padding-bottom: 10px;
        margin-top: 0px;
        margin-bottom: 26px;
        animation: ddd 0.1s linear;
    }
    #only-mobile{
        display: block;
        color: white;
        font-size: 29px;
        margin-left: 5px;
    }
}