<app-title title="مراجعات"></app-title>
<div class="grid-4">    

<iframe class="iframm" src="https://www.youtube.com/embed/q7E1Y-gijLE" title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>


<iframe class="iframm" src="https://www.youtube.com/embed/Eu18Xl_hXNQ" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<iframe class="iframm" src="https://www.youtube.com/embed/67lnbEYYvTI" title="YouTube video player" frameborder="0"
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>


<iframe class="iframm" src="https://www.youtube.com/embed/r5mYJagrFrw" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

</div>