<div class="section">
    <!-- 1 -->
    <div class="section grid-2">
        <app-sectionimg [imglink]="content.secOne.img"></app-sectionimg>
        <div>
            <app-title style="color: #b8096b;" [title]="content.secOne.title"></app-title>
            <app-paragraphe [text]="content.secOne.text"></app-paragraphe>
        </div>
    </div>
    <!-- 2 -->
    <div class="section grid-2  bg-darkgreen">
        <div>
            <app-title style="color: #b8096b;" [title]="content.secTwo.title"></app-title>
            <app-paragraphe [text]="content.secTwo.text"></app-paragraphe>
        </div>
        <app-sectionimg [imglink]="content.secTwo.img"></app-sectionimg>
    </div>
    <!-- 3 -->
    <div class="section grid-2">
        <app-sectionimg [imglink]="content.secTr.img"></app-sectionimg>
        <div>
            <app-title style="color: #b8096b;" [title]="content.secTr.title"></app-title>
            <app-paragraphe [text]="content.secTr.text"></app-paragraphe>
        </div>
    </div>
</div>